@import url("./styles/reset.scss");

$white: #fff;

body {
  font-family: "Sono";
}

#app {
  background-color: rgb(38, 38, 56);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.nav-header {
  height: 45px;
  background-color: $white;
  margin-bottom: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0px 50px;
}

.icon-svg {
  height: 1.2rem;
  width: 1.2rem;
  margin-right: 4px;
}

.btn {
  display: inline-flex;
  align-items: center;
  background-color: $white;
  padding: 6px 12px;
  font-weight: 600;

  &:hover {
    // transition: background-color ease-in 100ms;
  }
}

.hide {
  display: none;
}

.sequencer-toolbar {
  height: 60px;
  outline: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
}

.toolbar-btn-group {
  min-width: 280px;
}

.group-right {
  margin-right: 0;
}

.clock-container {
  font-size: 28px;
  color: $white;
}

.metronome-container {
  cursor: pointer;
  background: #000;
  width: 60px;
  height: 30px;
  padding: 4px;
  border-radius: 19px;
  position: relative;
  top: 2px;
}

.metronome-toggle {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;

  &:checked {
    + .switch {
      grid-template-columns: 1fr 1fr 0fr;
      &::after {
        background-color: #afddba;
      }
    }
  }
}

.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: 200ms;
  &::after {
    content: "";
    border-radius: 50%;
    background-color: #ccc;
    grid-column: 2;
    transition: background-color 200ms;
  }
}

.slider-container {
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: large;
}

.slider {
  display: flex;
  justify-content: center;
}

.slider-label {
  margin-right: 4px;
}

.toolbar-btn-group {
  display: flex;
  gap: 12px;
}

.group-right {
  justify-content: flex-end;
}

.slider-control {
}

.sequencer-container {
  display: flex;
  // box-shadow: rgb(147, 178, 211) 0px 20px 30px -10px;
}

.sequencer-side-keyboard {
  height: 300px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 125px;
}

.sequencer-grid {
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(16, 1fr);
}

.sequencer-footer {
  outline: 1px solid white;
  height: 60px;
}

.cell {
  outline: 1px solid rgb(141, 141, 141);
  background-color: rgb(195, 202, 209);
  cursor: pointer;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 202, 209);
  outline: 1px solid rgb(141, 141, 141);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: $white; //TODO:
    transition: background-color ease-in 120ms;
  }
}

.marker {
  background-color: rgb(157, 230, 202);
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 25%;
}

// #sequencer-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// #sequencer {
//   display: flex;
//   position: relative;
// }

// #playhead {
//   width: 100%;
//   height: 10px;
//   background-color: rgb(136, 136, 136);
//   position: absolute;
//   top: -10px;
// }

// #playhead-marker {
//   position: absolute;
//   left: 100px;
//   // left: 498px;
//   top: 10px;
//   height: 200px;
//   width: 2px;
//   background-color: blue;
//   visibility: hidden;
// }

// #keyboard {
//   height: 200px;
//   width: 100px;
//   display: grid;
//   background-color: rgb(79, 122, 122);
//   grid-template-rows: repeat(5, 1fr);
//   grid-template-columns: repeat(1, 1fr);
// }

// .key {
//   border: 0.5px solid rgb(141, 141, 141);
//   color: white;
//   font-size: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
// }

// #grid {
//   height: 200px;
//   width: 400px;
//   display: grid;
//   grid-template-rows: repeat(5, 1fr);
//   grid-template-columns: repeat(16, 1fr);
// }

// .cell {
//   border: 0.5px solid rgb(141, 141, 141);
//   background-color: rgb(195, 202, 209);
//   cursor: pointer;
// }

// .marker {
//   background-color: rgb(82, 136, 194);
//   width: 100%;
//   height: 100%;
//   cursor: pointer;
// }

// .active {
//   background-color: rgb(223, 108, 108) !important;
//   animation-name: move !important;
//   animation-timing-function: linear !important;
//   animation-iteration-count: infinite !important;
//   visibility: visible !important;
// }
// @keyframes move {
//   from {
//     left: 100px;
//   }
//   to {
//     left: 498px;
//   }
// }
